.Header-pageHeader {
  color: white;
  background-color: #6F4D73; 
  height: 72px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.Header-pageHeader h3 {
  font-size: 20px;
}

.Header-title{
  color:white;
} 
