.Header-pageHeader {
  color: white;
  background-color: #163c4d;
  height: 72px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
}

.Header-pageHeader h3 {
  font-size: 30px;
}

.Header-title {
  font-weight: 900;
}
