.Loader-LoadingIcon{
    font-size: 50px;
      min-height: 700px;
      max-height: 700px;
      background-color: #ecc0ed;
      padding: 37% 5% 7% 46%;
      border-radius: 2%;
      color: #754a76;
  }